

@keyframes girar{
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);;
    }
}


*{
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    display: flex;
    margin: auto;
    background-size: 600% 600%;    
}

header {
    background: transparent;
    width: 100vw;
    height: 60px;
    margin: auto;
    margin-bottom:40px;
    position: fixed;
}

div.logo {
   position: absolute;
   top: 10px; 
   left: 20px;
}

.loge{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

div.box {
    background-color: rgb(22, 22, 22);
    width:50px;
    height: 50px;
    border-radius: 50px;

    position: absolute;
    top: 10px;
    left: 100px;

}
div.home {
    position: absolute;
    top: 11px;
    left: 12px;
    z-index: 1000;
}

div.box:hover {
    background-color:rgb(66, 66, 66);
    box-shadow: 0px 0px 6px 4px rgba(66, 66, 66, 0.562);
    transform: scale(1.05);
}

img.homa {
    width: 26px;
    height: 26px;
}

.campo-label {
  
  display: block;
  width: 360px;
  background-color: rgb(22, 22, 22);
  position: absolute;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;

 top: 10px;
 left: 190px;
 transition: 0.3s;

}

.campo-label::after {
  
  content: attr(data-text);
  font-size: 1.5em;
  line-height: 0;
  height: 0;
  max-width: 100%;
  font-family: Roboto, Arial, sans-serif;
  border-bottom: 3px solid #007cff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  overflow: hidden;
  user-select: none;
  color: transparent;

}

.campo-label:hover {
    background-color: rgb(53, 53, 53);
    box-shadow: 0px 0px 10px 4px rgba(66, 66, 66, 0.562);
}

.box:hover .campo-label .btn-busca {
    background-color: rgb(53, 53, 53);
}

.campo-input {

  color: #555;
  border: none;
  padding: 0px 10px;
  padding-right: 5px;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2em;
  font-family: system-ui;
  /*border-bottom: 3px solid rgb(22, 22, 22);*/
  background-color: transparent;

}

.campo-input:focus { 
    color: #ffffff}

.btn-busca { 

  background-color: rgb(22, 22, 22);
  color: #007cff;
  width: 60px;
  border: none;
  font-size: 30px;
  line-height: -15px;
  height: 47px;
  display: block;
  cursor: pointer;
  position: fixed;
  top: 11px;
  left: 490.8px;
  border-radius: 0 16px 16px 0;

  transition: 0.3s;

}


.search {
    position: absolute;
    top: 8px;
    left: 16px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-self: center;

}

.content {
    background-color: rgb(12, 12, 12);
    background-size: 600% 600%;
    width: 90vw;
    height: 88vh;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-radius: 10px;
    border: 2px solid rgb(32, 32, 32);
    position: fixed;
    top: 11vh;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

::-webkit-scrollbar-track {
    background: rgb(22, 22, 22);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(54, 53, 53);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 110, 110);
}


.content h1 {
    width: 90%;
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
    
    position: relative;
    top: 25px;
    left: 40px;
    
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.74);
    font-size: 2.5rem;
}

.conteiner {
    padding-right: 15px;
}

.player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 0px;
    gap: 10px;
    border-radius: 30px;

    width: 200px;
    height: 230px;
    
    transition: 0.4s;
}

.player:hover {
    cursor: pointer;
    background-image: linear-gradient(360deg, rgba(66,66,66,0.562), transparent);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.651, 0.651);
    
    
}

.player:hover .bord {
    animation: girar 10s linear infinite;
}

img.bord {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.137);
    border-radius: 50%;
    transition: 0.3s;
}


div.text {
    display: flex;
    justify-content: center;
    align-self:flex-end;
    flex-direction: column;
    margin: 0;
    

    position: relative;
    top: -20px;
}

.text p {
    color: rgb(44, 44, 44);
}

.player:hover .text p {
    color:#706f6f;
}

main{
    margin: auto;
    flex: 1;
    
    margin-top: 10px;
}

.linha {
    background-color: #555;
    width: 90%;
    height: 2px;
    margin: auto;

    position: relative;
    top: 100px;
    
}

.footer {
    width: 100%;
    height: 40%;

    position: relative;
    top: 120px;
}

.tx1 {
    color: #555;
    font-size: 1.5rem;

    position: absolute;
    top: 20%;
    left: 10%;
}

.tx2 {
    color: #555;
    font-size: 1.5rem;

    position: absolute;
    top: 20%;
    left: 70%;
}

.tx3 {
    width: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    color: #555;
    font-size: 1rem;

    position: absolute;
    top: 35%;
    left: 72.5%;
}